%footer_internal_wrapper {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-wrap: wrap;
	margin: 0 12%;
}
.footer {
	background-color: $colour-pb-purple-dark;
	padding: 3rem 0;
	width: 100%;
	z-index: 1;

	.footer__content {
		color: $colour-pb-purple-mid;
		font-family: $font-secondary;
		font-size: 1.2rem;
		justify-content: space-between;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 1200px;
	}
	.footer__sections {
		@extend %footer_internal_wrapper;
	}
	.footer__credits {
		@extend %footer_internal_wrapper;
		margin-top: 2rem;
	}

	.footer__entry {
		width: 45%;
		margin-right: 5%;
		margin-bottom: 1.5rem;
	}
	.footer__heading {
		@include heading();
		color: $colour-pb-purple-light;
		margin-bottom: 1rem;
	}
	.footer__link {
		@extend %footer-base-text;
		color: $colour-pb-purple-mid;
		display: block;
		margin-bottom: 1rem;
		text-decoration: none;	
	}
	.footer__text {
		@extend %footer-base-text;
		color: $colour-pb-purple-mid;
		font-size: 1rem;
		margin-bottom: 1.4rem;
		width: 100%;
	}
	.footer__text--copyright {
		color: $colour-pb-purple-light;	
	}
	.footer__text-link {
		color: $colour-pb-purple-light;
		text-decoration: none;		
	}
	@media only screen and (min-width: map_get($breakpoints, 'small')) {
		.footer__entry {
			width: 20%;
			margin-right: 7%;

			&:last-child {
				margin-right: 0;
			}
		}
		.footer__text {
			&:after {
				content: " ";				
				white-space: pre;
			}
			width: auto;
		}
	}
	@media only screen and (min-width: map_get($breakpoints, 'small')) and (max-width: map_get($breakpoints, 'small-2') - 1){
		.footer__entry {
			&:nth-child(1) {
				width: 14%;
			}
			&:nth-child(2) {
				margin-right: 9%;
			}
		}
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-i')) and (max-width: map_get($breakpoints, 'small-2') - 1) {
		.footer__entry {
			&:nth-child(2) {
				margin-right: 7%;
			}
		}
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-2')) {
		.footer__entry {
			width: 20%;
			margin-right: 5%;

			&:nth-child(1) {
				width: 20%;
			}
		}
		.footer__text:nth-child(1) {
			margin-left: 25%;
		}
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-2i')) {
		.footer__text:after {
			content: "";
			white-space: normal;
		}
		.footer__text {
			width: 25%;
		}
		.footer__text:nth-child(1) {
			margin-left: 25%;
		}
	}

	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
		.show-lightbox & {
			z-index: auto;
		}
	}
}


// WEBPACK FOOTER //
// ./src/templates/scss/src/templates/scss/modules/_footer.scss