.generic-page {

	max-width: 74%;
	margin: 10rem auto 8rem auto;

	h2 {
		margin-bottom: 2rem;
		margin-top: 3rem;
		text-align: left;
	}

	&.generic-page .gp__content {

		opacity: 0;
		transition: opacity $field-transition-duration;

		&.gp__content--show {
			opacity: 1;
		}

		h2 {
			margin-top: 0;
		}

		@extend %stories;

		.event-entry {
			@extend %story;

			.event-entry__image {
				@extend %story__image
			}
		}
	}

	@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
		margin: 10rem 10% 8rem 10%;
		max-width: 1200px;

		&.generic-page--about-us .gp__content {
			column-count: 2;
			column-gap: 4rem;
			margin: 0 2%;

			p {
				break-inside: avoid;
			}
		}

	}
	.page-title {

		@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
			margin: 1rem 2% 7rem 2%;
		}
	}
	// .event-entry {
	// 	box-sizing: border-box;
	// 	border: 1px solid #98c5d0;
	// 	padding: 2rem;

	// 	h3 {
	// 		// @extend %title;
	// 		letter-spacing: $letter-spacing-title;
	// 		text-transform: lowercase;
	// 		color: $colour-pb-purple;
	// 		font-size: 1.3rem;
	// 		font-weight: bold;
	// 		margin-top: -1.5rem;
	// 		line-height: 1.6rem;
	// 		text-align: left;
	// 		margin-bottom: 2rem;
	// 	}

	// }
	
	p {
		margin-bottom: 1.7rem;
	}
	.sketchbook-caption {
		margin-bottom: 0.25rem;
	}
	& .footnote {
		font-size: 1.1rem;
		line-height: 1.65rem;
	}
}