.card-viewer {
}
.lightbox {
	background-color: #fff;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}
.lightbox--has-variations {
	background-color: $colour-pb-purple-light;
}
.active-card {
	background-color: #fff;
	padding-bottom: 1rem;
}
.lightbox__variations {
	list-style: none;
	width: 100%;
}
.lightbox__variation {
	display: inline-block;
	padding-top: 1rem;
}
.lightbox_message {
	display: none;
	position: absolute;
    top: 170px;
    /* Width should match image size */
    width: 200px;
}
.lightbox_message-text {
	text-align: center;
}
.lightbox_message-content {
	@extend %message;
	margin: 0 auto;
}
/*
.lightbox_message-content--show {
	display: inline-block;
}
*/