
@mixin menu_transition($property_name: all, $dur: $menu-transition_duration) {

	@include transition(#{$property_name} $dur ease);

}

@import 'components/buttons/menuButton';

body.menu__entries--active {
	
	@extend %full-height-no-scroll;	
	
}

.menu__entries {

	/* Colourise menu__entries when menu has menu--foo class */

	@extend %menu-element-full-screen;

	@include menu_transition;

	.menu--collections & {
		background-color: $colour-pb-green;
		@include menu_transition;
	}
	.menu--occasions & {
		background-color: $colour-pb-blue;
		@include menu_transition;
	}
	.menu--giftwrap & {
		background-color: $colour-pb-peach;
		@include menu_transition;
	}
}

.menu {

	.menu__entries {
		height: 100vh;
		position: absolute;
		padding: 2.5rem 1rem;
		top: 0;
		width: 100%;
		left: -100%;
		overflow: scroll;
	}

}

body.menu__entries--active {

	.menu__button--toggle {
		@include transform(scale(7) scale(0.1) translate(-10px, -10px) );
	}

	.menu__entries {
		left: 0;
	}

}