body.menu__entries--active {
	
	@extend %full-height-no-scroll;	
	
}

.menu {

	 .menu__toggle {
		display: inline-block;
		cursor: pointer;

		.menu__toggle-bar {
			width: 25px;
			height: 3px;
			background-color: #333;
			margin: 6px 0;
			transition: 0.4s;
		}

		.menu__toggle-bar--1 {
			
			/* Rotate first bar */
			&.menu__toggle-bar--active {
			  @include transform(rotate(-45deg) translate(-6.425px, 6px));
			}
		}

		.menu__toggle-bar--2 {
			
			/* Fade out the second bar */
			&.menu__toggle-bar--active {
				opacity: 0;
			}
		}

		.menu__toggle-bar--3 {
			
			/* Rotate last bar */
			&.menu__toggle-bar--active {
				@include transform(rotate(45deg) translate(-6px, -7px));
			}
		}
	}

	.menu__entries {
		height: 100vh;
		position: absolute;
		top: 0;
		width: 100%;
		left: -100%;
		overflow: scroll;
	}
	.menu__toggle {
		left: 0;
		position: absolute;
		z-index: 2;
	}

}

body.menu__entries--active {

	.menu__entries {
		left: 0;
	}

}