.products {
	display: flex;
	flex-wrap: wrap;
	font-family: $font-secondary;
	justify-content: space-between;
}
.products__product {
	@include aspect-ratio(1, 1);
	width: 43%;
	margin: 0 3.5%;
}
.products__product-shot {
	width: 100%;
	&.lazy{
		@extend %lazy-fade;
	}
}
.products__sku {
	color: $colour-pb-blue;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.4rem;
	margin-top: 0.25rem;
}
.products__title {
	line-height: 1.6rem;
	margin-bottom: 2rem;
}