**/.DS_Store
site/templates/js/vendor/
site/templates/build/
site/assets/
site/modules/
site/.htaccess
site/config.php
.htaccess
CONTRIBUTING.md
LICENSE.TXT
composer.json
index.php
main.js
wire/
node_modules
.vscode
