.generic-page {

	max-width: 74%;
	margin: 10rem auto 8rem auto;

	h2 {
		margin-bottom: 2rem;
		margin-top: 3rem;
		text-align: left;
	}

	&.generic-page .gp__content {

		opacity: 0;
		transition: opacity $field-transition-duration;

		&.gp__content--show {
			opacity: 1;
		}

		h2 {
			margin-top: 0;
		}

		@extend %stories;

		.event-entry {
			@extend %story;

			.event-entry__image {
				@extend %story__image
			}
			.event-entry__text {
				@extend %story-text;
			}
		}
	}

	@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
		margin: 10rem 10% 8rem 10%;
		max-width: 1200px;

		&.generic-page--about-us .gp__content {
			column-count: 2;
			column-gap: 4rem;
			margin: 0 2%;

			p {
				break-inside: avoid;
			}
		}

	}
	.page-title {

		@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
			margin: 1rem 2% 7rem 2%;
		}
	}
	
	p {
		margin-bottom: 1.7rem;
	}
	.sketchbook-caption {
		margin-bottom: 0.25rem;
	}
	& .footnote {
		font-size: 1.1rem;
		line-height: 1.65rem;
	}
	.contact-pages-doc {
		@extend %stories;
		column-count: 1;
		margin: -0.55rem 0 0 0;

		@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
			margin: -0.55rem 20% 0 20%;
		}

		h3:first-child {
			margin-bottom: 1rem;
		}
		strong{
			font-weight: bold;
		}
		figure img {
			width: 100%;
		}
		figcaption {
			font-size: 1.4rem;
			line-height: 2rem;
		}
		p + figure img {
			width: 77%;
		}
	}
}