%product-shot {
	flex-basis: 47.5%;
	width: 100%;

	&.loaded.keyline{
		border: 1px solid $colour-pb-keyline;	
	}
	.rect--l & {
		top: auto;
		bottom: 0;
	}
	.rect--p & {
		width: auto;
		margin: 0;
		height: 100%;
	}

	&.lazy {
		@extend %lazy-fade;
	}
}

.products {
	display: flex;
	flex-wrap: wrap;
	font-family: $font-secondary;
	justify-content: flex-start;
}
.products__product {
	width: 43%;
	margin: 0 3.5%;
	cursor: pointer;

	picture {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		display: block;
		margin-bottom: 1rem;
		background: transparent url(../img/egg.gif) no-repeat center center;
		background-size: 30px 30px;
		display: flex;
		justify-content: start;
	}
	
	@media only screen and (min-width: map_get($breakpoints, 'small-1')) {
		flex-basis: 28.3%;
		margin: 0 2.5%;
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-3')) {
		flex-basis: 21%;
		margin: 0 2%;
	}
}
.products__product-shot {
	@extend %product-shot;
	position: absolute;
}
.products__sku {
	color: $colour-pb-blue;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1rem;
	margin: 0;
	line-height: 2.4rem;
	margin:0.25rem 0 0.5rem 0;

	.products__product.rect--p & {
		// margin-left: 2.8rem;
	}
}
.products__title {
	@extend %product-title;

	.products__product.rect--p & {
		// margin-left: 2.8rem;
	}

	.artists & {
		margin-top: 0.3rem;
	}
}