@import

'../buttons/formButton',
'./formField';

.form__link {
	background: none!important;
	border: none;
	color: $colour-pb-blue;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0!important;
	text-decoration: underline;
}
.form__quantity {
	width: 3.5rem;
}
.form__quantity-label {
	font-size: 1.1rem;
	margin-left: 0.5rem;
}

.form {
	text-align: left;
}
.form__title {
	@extend %title;
}
/* Processwire password feedback messages on processContentPages custom forms */
.pass-scores,
.pass-confirm {
	&.detail {
		display: block;
		margin-bottom: 0.5rem;
		margin-top: -0.5rem;
	}
}
/* Processwire field in Forgotten Password form */
.Inputfield, #ProcessForgotPassword {
	font-family: $font-secondary;
}
/* Processwire password fields in Registration form */
.form__inputfields {
	width: 100%;
}
#ProcessForgotPassword {

	& p {
	margin-bottom: 0.3rem;
	}

	& .detail {
		font-size: 0.75rem;
		line-height: 0.8rem;
		margin-top: 1rem;
	}
}
.InputfieldHeader {
	font-weight: bold;
	display: block;
	margin-bottom: 0.2rem;
}
.Inputfields .InputfieldHeader, .Inputfields .description, #ProcessForgotPassword {
	font-size: 0.85rem;
	line-height: 1.1rem;
}
.form__error {
	
	font-weight: normal;

	.InputfieldContent & {
		display: block;
		width: 70%;
	}
}
.form__input.InputfieldMaxWidth {
	
	margin-top: 1rem;
}
/* End Processwire field in Forgotten Password form */
.form, .test__class {

	text-align: left;
}
.form__inputs {
	display: flex;
	flex-wrap: wrap;
}
.form__input {		
	@extend %form-field;
	color: #000;
	@include transition(color $menu-transition_duration ease);
}
.form__forgotten-password,
.form__register,
.form__error {
	font-size: 1.1rem;
	text-align: left;
	font-weight: bold;
}
.form__register {
	color: #958b87;
	line-height: 1rem;
	margin-top: 2rem;
}
.form__forgotten-password {
	margin-top: 0.5rem;
}
.form__forgotten-password-link,
.form__register-link {
	color: $colour-pb-blue;
}
.form--fullscreen {

	@extend %full-screen-bordered;

	@media only screen and (max-width: map_get($breakpoints, 'medium') - 1) {
		// full-screen-bordered() overrides
		height: 15vh;
		top: auto;
		bottom: 0;
		padding-top: 4.5rem;
		border: 0;

		display: block;		
		visibility: hidden;
		opacity: 0;
	}
}
.form__error--submission {
	@extend %message-hidden;
}
.form__error--submission.form__error--show {
	@extend %message;
	margin-bottom: 0;

	.login & {
		width: auto;
	}
}
.form__price--unit {
	font-size: 0.7rem;
}
.forgotten-password {
	#ProcessForgotPassword {
		max-width: 35rem;
		margin: 0 auto 3rem auto;

		.form__input {
			margin-bottom: 0;

			&#username {
				margin-bottom: 0.75rem;
			}
		}
		.InputfieldHeader {
			font-size: 1.5rem;
			margin: 2.5rem 0 1rem 0;
		}
		.description {
			font-size: 1.3rem;
			line-height: 1.65rem;
		}
		#wrap_Inputfield_verify .description {
			margin-bottom: 0;
		}
		.InputfieldPasswordRow > label {
			display: none;
		}
		p {
			font-size: 1.3rem;
			line-height: 1.65rem;
			margin-bottom: 1rem;

			&:first-child {
				font-weight: bold;
			}

			& .detail {
				font-size: 1.1rem;
				line-height: 1.3rem;
			}
		}
	}

}

@import './pcpForms';