.pcp_forms {
	margin: 0 3.5%;

	& .form__title{
		max-width: 35rem;
		margin: 0 auto 3rem auto;
	}
}
.pcp_pre,
.pcp_post {
	max-width: 35rem;
	margin: 0 auto 3rem auto;	
}
.pcp_form {
	max-width: 35rem;
	margin: 0 auto 3rem auto;

	.form__label {
		display: none;
		margin-bottom: 0.5rem;
	}
	.form__input--textarea {
		font-family: $font-text;
		font-size: 1.4rem;
		min-height: 8rem;
		padding-bottom: 2rem;
		padding-top: 0.5rem;
		resize: vertical;
	}
	.form__input--address {
		min-height: 4rem;
	}
	.form__consent {
		display: flex;
		align-items: flex-start;
	}
	.form__consent-checkbox {
		margin-right: 0.5rem;
		margin-top: 0.15rem;
	}
	.form__note, .description {
		font-size: 1.2rem;
		line-height: 1.65rem;
		margin-bottom: 1rem;

		&.form__note--consent {
			display: block;
		}
		&.form__note--privacy {
			width: 100%;
		}
	}
	.description {
		margin-bottom: 0.5rem;
	}
	.form__input--web {
		opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
	}
	.form__button--cancel {
		display: none;
	}
	.form__error--submission.form__error--show {
		width: 100%;
		box-sizing: border-box;
		margin-top: 1rem;
		line-height: 1.4rem;
	}
}
.form_message {
	max-width: 35rem;
	margin: 0 auto 3rem auto;
}
