.form__button {
	background-color: $colour-pb-purple;
	border-radius: 0.4rem;
	border: 1px solid $colour-pb-purple;
	color: #fff;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
}
.form__button--submit {
}
.form__button--cancel {
	background-color: #fff;
	border-color: $colour-pb-purple-light;
	color: #6e5f77;
}