%menu__entrybutton-base {
	background-image: no-repeat;
	color: #fff;
	font-size: calc-rem(14.5);
	width: 60px;
	padding-top: 60px;
	margin: 0 auto;
	text-decoration: none;
	text-transform: lowercase;
}