%menu__entrybutton-base {
	background-image: no-repeat;
	color: #fff;
	display:inline-block;
	font-size: 1.45rem;
	width: 60px;
	padding-top: 60px;
	margin: 0 auto;
	text-decoration: none;
	text-transform: lowercase;
}

%menu__entrybutton-base-hidden {
	display: none;
}