%menu__entrybutton-base {
	background-repeat: no-repeat;
	color: #fff;
	display:inline-block;
	font-size: 1.45rem;
	width: 60px;
	padding-top: 60px;
	text-decoration: none;
	text-transform: lowercase;
	cursor: pointer;

	@media only screen and (min-width: map_get($breakpoints,  'medium')) {

		color: #fff;

		&:hover {
			color: $colour-pb-blue;
		}
		
		@media only screen and (min-width: map_get($breakpoints, 'medium')) {
			.menu--modal-active & {
				display: none;
			}
		}
		transition: color $menu-transition_duration;
	}
}

%menu__entrybutton-base-hidden {
	display: none;
}