
.toggle__button {


	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
	  display: none;

	  .show-lightbox & {
	  	display: block;
	  }
	}
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 31px;

	.menu__bar {
		width: 25px;
		height: 3px;
		background-color: $colour-pb-purple-dark;
		margin: 6px 0;

		&.menu__bar--active {
			
		}
	}
}
.toggle__button--toggle {
	@include menu_transition;
	z-index: 3;

	.menu__bar {
		&.menu__bar--active {
			background-color: #fff;
			@include menu_transition;
		}
	}
	.menu__bar--1 {
		
		/* Rotate first bar */
		&.menu__bar--active {
			@extend %menu-button-cross-bar-1;
		}
	}

	.menu__bar--2 {
		
		/* Fade out the second bar */
		&.menu__bar--active {
			opacity: 0;
		}
	}

	.menu__bar--3 {
		
		/* Rotate last bar */
		&.menu__bar--active {
			@extend %menu-button-cross-bar-3;
		}
	}
}

.toggle__button--close {

	@include transform(scale(7) scale(0.1) translate(19px, -40px) );
	z-index: 3;

	.menu__bar {

		background-color: #fff;

	}

	.menu__bar--1 {
		
		/* Rotate first bar */
		@extend %menu-button-cross-bar-1;
		
	}

	.menu__bar--2 {
		
		/* Fade out the second bar */
		opacity: 0;
	}

	.menu__bar--3 {
		
		/* Rotate last bar */
		@extend %menu-button-cross-bar-3;
	}

}

.toggle__button--open {

	.menu__bar {
		opacity: 1;

		
		&.menu__bar--active {
			opacity: 0;
			// @include transition(opacity 5s ease);
			// @include menu_transition(opacity, 3s);
			@include menu_transition(opacity, 1s);


		}
	}

}
.toggle__button--lightbg {

	.menu__bar {

		background-color: $colour-pb-blue-mid;
	}

}