%form-field {
	align-self: flex-start;
	box-sizing: border-box;
	border: 0.5px solid $colour-pb-neutral-light;
	font-size: 1.6rem;
	font-weight: normal;
	height: 3.3rem;
	margin-bottom: .75rem;
	padding: 1.3rem 0.5rem;
	width: 100%;

	&.activated:invalid {
		color: #f00;
	}
	&.activated:valid {
		color: #000;
	}

	& + .form__error {
		@extend %message-hidden;
	}

	&.activated:invalid + .form__error {
		@extend %message;
	}
}