@import

'components/buttons/formButton',
'components/forms/formField';

.form {
	text-align: left;
}
.form__title {
	color: $colour-pb-purple;
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 0.75rem;
}
/* Processwire field in Forgotten Password form */
.Inputfield, #ProcessForgotPassword {
	font-family: $font-secondary;
}
/* Processwire password fields in Registration form */
.form__inputfields {
	width: 100%;
}
#ProcessForgotPassword {

	& p {
	margin-bottom: 0.3rem;
	}

	& .detail {
		font-size: 0.75rem;
		line-height: 0.8rem;
		margin-top: 1rem;
	}
}
.InputfieldHeader {
	font-weight: bold;
	display: block;
	margin-bottom: 0.2rem;
}
.Inputfields .InputfieldHeader, .Inputfields .description, #ProcessForgotPassword {
	font-size: 0.85rem;
	line-height: 1.1rem;
}
.form__error {
	
	font-weight: normal;

	.InputfieldContent & {
		display: block;
		width: 70%;
	}
}
.form__input.InputfieldMaxWidth {
	
	margin-top: 1rem;
}
/* End Processwire field in Forgotten Password form */
.form, .test__class {

	text-align: left;
}
.form__inputs {
	display: flex;
	flex-wrap: wrap;
}
.form__input {		
	@extend %form-field;
	color: #000;
	@include transition(color $menu-transition_duration ease);
}
.form__forgotten-password,
.form__error {
	font-size: 1.1rem;
	text-align: left;
	font-weight: bold;
}
.form__forgotten-password {
	margin-top: 0.5rem;
}
.form__forgotten-password-link {
	color: $colour-pb-blue;
}
.form--fullscreen {

	@extend %full-screen-bordered;

	// %full-screen-bordered overrides
	height: 15vh;
	top: auto;
	bottom: 0;
	padding-top: 4.5rem;
	border: 0;

	display: block;		
	visibility: hidden;
	opacity: 0;
}
.form__error--submission {
	@extend %message-hidden;
}
.form__error--submission.form__error--show {
	@extend %message;
	margin-bottom: 0;
}
.form__price--unit {
	font-size: 0.7rem;
}

@import 'components/forms/pcpForms';