@import

'components/buttons/formButton',
'components/forms/formField';

.form {
	text-align: left;
}
.form, .test__class {

	text-align: left;
}
.form__inputs {
	display: flex;
	flex-wrap: wrap;
}
.form__input {		
	@extend %form-field;
	color: #000;
	@include transition(color $menu-transition_duration ease);
}
.form__forgotten-password,
.form__error {
	text-align: left;
	font-weight: bold;
}
.form__forgotten-password-link {
	font-size: 0.7rem;
	color: $colour-pb-blue;
}
.form--fullscreen {

	@extend %full-screen-bordered;

	// %full-screen-bordered overrides
	height: 15vh;
	top: auto;
	bottom: 0;
	padding-top: 4.5rem;
	border: 0;

	display: block;		
	visibility: hidden;
	opacity: 0;
}
.form__error--submission {
	@extend %message-hidden;
}
.form__error--submission.form__error--show {
	@extend %message;
	margin-bottom: 0;
}

