@import
'components/buttons/formButton',
'components/forms/formField';

.login {
	@extend %menu-button-base;
}
.login__inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.login__input {		
	@extend %form-field;
}
.login__forgotten-password,
.login__errors {
	text-align: left;
	font-weight: bold;
}
.login__forgotten-password-link {
	font-size: 0.7rem;
	color: $colour-pb-blue;
}
.login__errors {
	font-size: 0.75rem;
	background-color: $colour-pb-purple-dark;
	color: #fff;
}
.login__errors--show {
	padding: 0.15rem 0.5rem;
}
.login--fullscreen {

	@extend %full-screen-bordered;

	// %full-screen-bordered overrides
	height: 15vh;
	top: auto;
	bottom: 0;
	padding-top: 4.5rem;
	border: 0;

	display: block;		
	visibility: hidden;
	opacity: 0;
}