/* 

	Style overrides specifically for this project 

*/

body {
	color: $colour-pb-neutral-dark;
}

/* sticky footer */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
/* END sticky footer */

.logo {
	width: 120px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.titleBlock {

	background-image: url('../img/homebg.jpg');
	background-repeat: no-repeat;

}

.menu {
	@include font-smoothing(on);
}