/* 

	Style overrides specifically for this project 

*/

// Custom fonts
$font-lora: 'Lora', serif;

%lora-roman {
  font-family: $font-lora;
  font-style: normal;
}
%lora-italic {
  font-family: $font-lora;
  font-style: italic;
}
%title {
	color: $colour-pb-purple;
	font-family: $font-title;
	font-size: 2.48rem;
	letter-spacing: $letter-spacing-title;
	line-height: 1.6rem;
	margin-bottom: 3rem;
	text-align: center;
	text-transform: lowercase;
}

.titleBlock {
	background-image: url('../img/homebg.jpg');
	background-repeat: no-repeat;
}

.menu {
	@include font-smoothing(on);
}

body {
	color: $colour-pb-neutral-dark;
}

.logo {
	width: 120px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.nav__level-2-link {
	@extend %lora-italic;
}
.nav__level-2:nth-child(even) .nav__level-2-link {
	@extend %lora-roman;
}
.page-title {
	@extend %title;
}
.page-title--home {
	background-image: url('/site/templates/img/title_narrow.svg');
	background-position-x: 50%;
	background-repeat: no-repeat;
	height: 20.5rem;
	margin: 0 auto;
	text-indent: -9999px;
	width: 22rem;

	@media only screen and (min-width: map_get($breakpoints,  'tablet-small')) {
		background-image: url('/site/templates/img/title_wide.svg');
		max-width: 500px;
		width: 80%;	
	}
}
.home-image--mob {
	display: block;
	margin: 0 auto -4.5rem auto;
	max-width: 400px;
	width: 100%;
}

h2 {
	@extend %title;
	font-size: 2rem;
	line-height: 1.29rem;
}
.page-title__category {
	color: $colour-pb-purple-light;
}