/* 

	Style overrides specifically for this project 

*/
html {
	/* Normalise font weight */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
}

body {
	color: $colour-pb-neutral-dark;
}

/* sticky footer */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
/* END sticky footer */

.logo {
	width: 120px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.titleBlock {
	background-image: url('../img/homebg.jpg');
	background-repeat: no-repeat;
}

.menu {
	@include font-smoothing(on);
}

.page-title {
	color: $colour-pb-purple;
	font-family: $font-title;
	font-size: 1.55rem;
	letter-spacing: $letter-spacing-title;
	margin-bottom: 2rem;
	text-align: center;
	text-transform: lowercase;
}
.page-title__category {
	color: $colour-pb-purple-light;
}