/* 

  Default scss for all projects of this type
  NOTE it's not possibe to extend awithin a media query, so have to use a mixin instead
  Extends do not allow customization, but they produce very efficient CSS.
  https://stackoverflow.com/questions/18008700/using-include-vs-extend-in-sass
  See note on this:
  @extend is perfectly ok for as long as you never use it with any browser spesific selectors. 
  If you do, it will suddenly tear down the styles wherever you have used it. Try to rely on mixins instead!;
*/

@mixin fullScreen_aboveFold {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/**
 * Consistent font weight rendering
 * https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 */
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin heading($align: left) {

  @if $align == center {
    text-align: center;
  }
  @else {
    text-align: left;
  }

  @include font-smoothing(on);
  font-family: $font-title;
  font-weight: bold;

}

html {
  //Using this approach: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ 
  font-size: 62.5%;

  // Now html font size is 10px and 1 rem = 10px
  // 1.4rem is 14px
  // 2.4rem is 24px
  // and I guess we could do away with calc-rem

  //Normalise font weight
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;

  /* Sticky footer */
  height: 100%;
}

body {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-family: $font-text;
  color: $colour-black;
  min-width: 320px;
  position: relative;

  /* Sticky footer */
  display: flex;
  height: 100%;
  flex-direction: column;
}

a {
  color: $colour_blue;
}

main {
  margin: 10rem 10% 4rem 10%;

  /* Sticky footer */
  flex: 1 0 auto;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.sample-para {
	margin-top: 3em;
	margin-left: 35%;
	margin-right: 35%;
}
