%helper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%helper-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%helper-clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  transform: $args;
}
