// Breakpoints
$breakpoints: (
  "small": 480px,
  "small-i": 500px,
  "small-1": 550px,
  "small-1i": 615px,
  "small-2": 650px,
  "small-2i": 780px,
  "small-3": 815px,
  "medium": 1070px 
  // NOTE: Assign any new sizes to body:before as below
);
// Apply breakpoints to body:before for js
body:before {
  content: "small";
  display: none;
  visibility: hidden;
}
@media only screen and (min-width: map_get($breakpoints, 'small-i')) {
  body:before {
    content: "small-i";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'small-1')) {
  body:before {
    content: "small-1";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
  body:before {
    content: "small-1i";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'small-2')) {
  body:before {
    content: "small-2";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'small-2i')) {
  body:before {
    content: "small-2i";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'small-3')) {
  body:before {
    content: "small-3";
  }
}
@media only screen and (min-width: map_get($breakpoints, 'medium')) {
  body:before {
    content: "medium";
  }
}

$zindecies: ();

// Colours
$colour-black: #000;
$colour-teal: #0ff;
$colour-blue: #283583;

$colour-pb-neutral-light: #bfb3ae;
$colour-pb-neutral: #958b87;
$colour-pb-neutral-dark: #645550;
$colour-pb-purple: #6e5f77;
$colour-pb-purple-dark: #52415c;
$colour-pb-purple-mid: #a89fad;
$colour-pb-purple-light: #ccc7d0;
$colour-pb-green: #b2cf96;
$colour-pb-blue: #98c5d0;
$colour-pb-blue-dark: #789da6;
$colour-pb-blue-mid: #cbe2e7;
$colour-pb-blue-light: #dbebef;
$colour-pb-peach: #f5a488;
$colour-pb-highlight: #f00;

// $colour-transition_duration: 2s;
// $menu_slide_duration: 1s;
$field-transition-duration: .25s;
$menu-transition_duration: .5s;
$menu-transition_duration_medium: 1s;
$menu-transition_duration_slow: 1.5s;
$rotate-transition_duration: .25s;

// Default Fonts
$font-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-text: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Base sizes in pixels
// $base__font-size: 15.999 !default;
// $base__line: 18 !default;

$letter-spacing-menu: 0.15rem;
$letter-spacing-title: 0.1rem;

// Leading as proportion of font size
$leading-title: 1.25;

%margin-padding-free {
  margin: 0;
  padding: 0;
}

%full-height-no-scroll {
  height: 100vh;
  overflow: hidden;
}

// Font-sizes - currently unused
%size-text {
  font-size: 1.3rem;
  line-height: 1.9rem;

  @media (min-width: map_get($breakpoints, 'medium')) {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
}
%text-subhead {
  text-align: left;
  margin: 4rem 0 2rem 0;
}
%text-image {
  margin-bottom: 2rem;
}
%product-title {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: none;
}
%footer-base-text {
  color: $colour-pb-purple-light;
}
%full-screen-bordered {
  @media only screen and (max-width: map_get($breakpoints, 'medium') - 1) {
    background-color: $colour-pb-blue;
    border: 20px solid white;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    @include prefix((
      box-sizing: border-box
    ), webkit moz);
  }
}
%menu-element-full-screen {
  @extend %full-screen-bordered;
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 160%;
  list-style: none;
  text-align: center;
}
%menu-button-cross-bar-1 {
  @include transform(rotate(-45deg) translate(-6.425px, 6px));
}
%menu-button-cross-bar-3 {
  @include transform(rotate(45deg) translate(-6px, -7px));
}
%hidden {
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
  height: 0;
}
%unhidden {
  transform: scale(1);
  visibility: visible;
  pointer-events: auto;
  height: auto;
}
%message {
  background-color: $colour-pb-purple-dark;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  opacity: 1; 
  scale: 1;
  visibility: visible; 
}
%message-hidden {
  line-height: 0;
  margin-bottom: 0;
  opacity: 0; 
  padding: 0 0.5rem;
  scale: 0;
  visibility: hidden; 
  width: 100%;
  @include transition(line-height $field-transition-duration ease, padding $field-transition-duration ease);
}
/* For lazy loading */
%lazy-fade {
  opacity: 0;
  &:not(.initial) {
    transition: opacity 1s;
  }
  &.initial,
  &.loaded,
  &.error {
    opacity: 1;
  }
  &:not([src]) {
    visibility: hidden;
  }
}