// Breakpoints
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      550px,
  "tablet-small": 640px,
  "tablet":       750px,
  "desktop":      1000px,
  "desktop-wide": 1200px
);

$zindecies: ();

// Colours
$colour-black: #000;
$colour-teal: #0ff;
$colour-blue: #283583;

$colour-pb-neutral-light: #bfb3ae;
$colour-pb-neutral: #958b87;
$colour-pb-neutral-dark: #645550;
$colour-pb-purple: #6e5f77;
$colour-pb-purple-dark: #52415c;
$colour-pb-purple-mid: #a89fad;
$colour-pb-purple-light: #ccc7d0;
$colour-pb-green: #b2cf96;
$colour-pb-blue: #98c5d0;
$colour-pb-blue-mid: #cbe2e7;
$colour-pb-blue-light: #dbebef;
$colour-pb-peach: #f5a488;
$colour-pb-highlight: #f00;

// $colour-transition_duration: 2s;
// $menu_slide_duration: 1s;
$field-transition-duration: .25s;
$menu-transition_duration: .5s;
$menu-transition_duration_medium: 1s;
$menu-transition_duration_slow: 1.5s;
$rotate-transition_duration: .25s;

// Fonts
$font-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-text: 'Lora', serif;
$font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-text: 'PT Serif', serif;

// Base sizes in pixels
$base__font-size: 15.999 !default;
$base__line: 18 !default;

$letter-spacing-menu: calc-rem(1.5);
$letter-spacing-title: calc-rem(1);

// Leading as proportion of font size
$leading-title: 1.2;

%margin-padding-free {
  margin: 0;
  padding: 0;
}

%full-height-no-scroll {
  height: 100vh;
  overflow: hidden;
}

// Font-sizes
%size-text {
  font-size: calc-rem(15);
  line-height: calc-rem(19);

  @media (min-width: map_get($breakpoints, "tablet")) {
    font-size: calc-rem(17);
    line-height: calc-rem(21);
  }
}
%footer-base-text {
  color: $colour-pb-purple-light;
  font-size: calc-rem(13);
}
%full-screen-bordered {
  background-color: $colour-pb-blue;
  border: 20px solid white;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  @include prefix((
    box-sizing: border-box
  ), webkit moz);
}
%menu-element-full-screen {
  @extend %full-screen-bordered;
  font-family: $font-secondary;
  font-size: calc-rem(15);
  line-height: 160%;
  list-style: none;
  text-align: center;
}
%menu-button-cross-bar-1 {
  @include transform(rotate(-45deg) translate(-6.425px, 6px));
}
%menu-button-cross-bar-3 {
  @include transform(rotate(45deg) translate(-6px, -7px));
}
%hidden {
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
  height: 0;
}
%unhidden {
  transform: scale(1);
  visibility: visible;
  pointer-events: auto;
  height: auto;
}
%message {
  background-color: $colour-pb-purple-dark;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
  padding:0.35rem 0.5rem;
  opacity: 1; 
  scale: 1;
  visibility: visible; 
}
%message-hidden {
  line-height: 0;
  margin-bottom: 0;
  opacity: 0; 
  padding: 0 0.5rem;
  scale: 0;
  visibility: hidden; 
  width: 100%;
  @include transition(line-height $field-transition-duration ease, padding $field-transition-duration ease);
}