.blog__content {
	@extend %stories;
	column-count: 1;
	margin: -0.55rem 0 0 0;

	@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {
		margin: -0.55rem 20% 0 20%;
	}

	.blog-post {
		@extend %story;

		.blog-image {
			@extend %story__image;
		}
		&.blog-post--end-col-1 {
			break-after: always;
		}
		&.blog-post--top-col-2 {
			break-before: always;
		}
	}
}
.blog-post__text {
	@extend %story-text;

	@media only screen and (min-width: map_get($breakpoints, 'small-1i')) {

		margin: 4rem;

		picture + & {

	      margin: 2rem 4rem 4rem;
	    }
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-3')) {
		
		margin: 6rem;	

		picture + & {
	      margin: 3rem 6rem 6rem; 
	    }
	}
}