%footer_internal_wrapper {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-wrap: wrap;
}
%footer_item {
	width: 43%;
	margin: 0 3.5%;

	@media only screen and (min-width: map_get($breakpoints, 'small-1')) {
		width: 18%;
	}
	@media only screen and (min-width: map_get($breakpoints, 'small-3')) {
		width: 21%;
		margin: 0 2%;
	}
}
.footer {
	background-color: $colour-pb-purple-dark;
	padding: 3rem 0;
	width: 100%;
	z-index: 1;

	.footer__content {
		color: $colour-pb-purple-mid;
		font-family: $font-secondary;
		font-size: 1.2rem;
		justify-content: space-between;
		line-height: 1.5rem;
		margin: 0 10%;
		max-width: 1200px;

		@media only screen and (min-width: map_get($breakpoints, 'medium-1')) {
			max-width: 960px;
			margin: 0 auto;
		}
	}
	.footer__sections {
		@extend %footer_internal_wrapper;
	}
	.footer__credits {
		@extend %footer_internal_wrapper;
		margin-top: 2rem;
	}
	.footer__entry {
		@extend %footer_item;
		margin-bottom: 1.5rem;
	}
	.footer__heading {
		@include heading();
		color: $colour-pb-purple-light;
		margin-bottom: 1rem;
	}
	.footer__link {
		@extend %footer-base-text;
		color: $colour-pb-purple-mid;
		display: block;
		margin-bottom: 1rem;
		text-decoration: none;	
	}
	.footer__link--catalogue {
		display: none;

		.logged-in & {
			display: block;	
		}
	}
	.footer__text {
		@extend %footer-base-text;
		@extend %footer_item;
		color: $colour-pb-purple-mid;
		font-size: 1.1rem;
		margin-bottom: 1.4rem;
		white-space: nowrap;

		@media only screen and (max-width: calc(map_get($breakpoints, 'small') - 1px)) {
			width: 100%;
		}
		@media only screen and (min-width: map_get($breakpoints, 'small-1')) {
			width: 43%;
		}
		@media only screen and (min-width: map_get($breakpoints, 'small-3')) {
			width: 21%;

			&:nth-child(odd) {
				margin-left: 27%;
				margin-right: 2%;
			}
			&:nth-child(even) {
				margin-left: 2%;
				margin-right: 27%;
			}
		}
	}
	.footer__text--copyright {
		color: $colour-pb-purple-light;	
	}
	.footer__text-link {
		color: $colour-pb-purple-light;
		text-decoration: none;		
	}
}


// WEBPACK FOOTER //
// ./src/templates/scss/src/templates/scss/modules/_footer.scss