%top-level-links {
	font-family: $font-secondary;
	font-size: 1.8rem;
	letter-spacing: 0.15rem;
	text-decoration: none;
	text-transform: lowercase;
	$font-size: 2.2rem;
	font-size: $font-size;
	line-height: $font-size * 1.8;
	color: #fff;
	font-weight: bold;

}
%collapsed {
	height: 0;
	overflow: hidden;
}
.nav {
	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
		margin-left: 10.4rem;
		.logged-in & {
			margin-left: 3rem;
		}
	}
}
.nav__top-level {
	width: 100%;
	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
		display: flex;
		justify-content: center;
		margin-left: 5.5rem;
	}
}
.nav__top-cat {
	@extend %top-level-links;
	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
		font-size: 1.6rem;
		color: $colour-pb-blue;	
	}
}
.nav__dropdown {
	@include font-smoothing(on);
}

.nav__top-link--aboutus,
.nav__top-link--theartists,
.nav__top-link--madewithlove {
	font-size: 1.8rem;
	font-weight: normal;

	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
		font-size: 1.6rem;
		color: $colour-pb-blue;	
	}
}
.nav__top-link {
	@extend %top-level-links;
}
.nav__level-2 {
	font-size: 2.6rem;
	line-height: 3rem;
	padding-bottom: 1.4rem;
}
.nav__level-2-link {
	color: $colour-pb-blue-light;
    display: inline-block;
	text-decoration: none;
    text-wrap: balance;
	font-family: $font-text;
	font-size: 2.6rem;
	font-style: italic;


	.nav__level-2-link-extra {
		display: block;
		font-size: 1.4rem;
		line-height: 1.9rem;
	}
}
.nav__level-2:nth-child(even) .nav__level-2-link {
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	font-size: 2.2rem;
	letter-spacing: $letter-spacing-menu;
}

.nav--sliding {
	/* Add this class to include  plus symbol as button to indicate entry has children */
	.nav__dropdown {
		display: none;
	}
	.nav__top-cat:after {
		content: "+";
		display: inline-block;
		width: 1.1rem;
		position: relative;
		top: -0.2rem;
		text-align: center;
		margin: 0;
		@include transform(rotate(0deg));
		@include transition(all $rotate-transition_duration ease);
	}
	/* Stand-alone state hook
	 * https://www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/
	*/
	.nav__level-1--active .nav__top-cat {

		&:after {
			@include transform(rotate(-225deg));
		}
	}
}
.nav__level-1.nav__level-1--active .nav__top-cat {
	display: inline;
}	
.nav--simple {

	.nav__level-1 {
		background-color: $colour-pb-blue;
		@media only screen and (min-width: map_get($breakpoints, 'medium')) {
			background-color: transparent;
			margin: 0 1.5rem;
			position: relative;

			& > a {
				padding-bottom: 2.5rem;
			}
		}
	}
	.nav__dropdown {
		@extend %hidden; // Want this for small screens
		
		body.no-touch.show-collections &.nav__dropdown--collections,
	    body.no-touch.show-occasions &.nav__dropdown--occasions,
	    body.no-touch.show-welshcards &.nav__dropdown--welshcards {

	    	@extend %expanded-menu-element;

	    	@media only screen and (min-width: map_get($breakpoints, 'medium')) {
	    		visibility: visible;
		    	pointer-events: auto;
		    	transform: scale(1);
		    }
		}
		@media only screen and (min-width: map_get($breakpoints, 'medium')) {
			position: absolute;
			height: auto;
		    background-color: #98c5d0;
		    
		    top: 8rem;
		    padding: 3rem 6rem;
		    left: -87%;
			top: 5.5rem;

			visibility: hidden;

			body.show-occasions &.nav__dropdown--occasions {
		    	left: -135%;
		    }
	    	body.show-welshcards &.nav__dropdown--welshcards {
	        	left: -135%;
	        	z-index: 2;
	        }
		}
	}
	.nav__level-1.nav__level-1--active {
		
		@extend %full-screen-bordered;
		@extend %expanded-menu-element;

		.nav__top-cat {
			display: none;
		}
		.nav__dropdown {
			@extend %unhidden;
			padding-top: 0.6rem;
			padding-bottom: 1rem;		
			margin-bottom: 2rem;
		}
	}
	.nav__level-1:not(.nav__level-1--active) {
		@extend %collapsed-menu-element;
	} 
}
.menu--modal-active {
	.nav {
		opacity: 0.2;
	}
}

@media only screen and (min-width: map_get($breakpoints, 'medium')) {
	.collections .nav__top-cat--collections,
	.occasions .nav__top-cat--occasions,
	.madewithlove .nav__top-cat--madewithlove,
	.welshcards .nav__top-cat--welshcards {
		color: $colour-pb-blue-mid;
	}
	.about-us .nav__top-link--aboutus,
	.the-artists .nav__top-link--theartists,
	.made-with-love .nav__top-link--madewithlove,
	.welshcards .nav__top-link--welshcards {
		color: $colour-pb-blue-mid;
	}
}